* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
    text-wrap: balance;
}

:root {
    /* Primary Colors */
    --primary-100: #112C49;
    --primary-200: #1A4170;
    --primary-300: #245797;
    --primary-400: #2E6DBE;
    --primary-500: #5387CC;
    --primary-600: #78A2DA;
    --primary-700: #9DBBE8;
    --primary-800: #C1D4F5;
    --primary-900: #E5ECFB;

    /* Secondary Colors */
    --secondary-100: #DEA9A1;
    --secondary-200: #D69389;
    --secondary-300: #CE7D72;
    --secondary-400: #C6675B;
    --secondary-500: #BE5144;
    --secondary-600: #A3453A;
    --secondary-700: #883931;
    --secondary-800: #6D2E27;
    --secondary-900: #52221D;

    /* Neutral Colors */
    --neutral-100: #F8F9FA;
    --neutral-200: #E9ECEF;
    --neutral-300: #DEE2E6;
    --neutral-400: #CED4DA;
    --neutral-500: #ADB5BD;
    --neutral-600: #6C757D;
    --neutral-700: #495057;
    --neutral-800: #343A40;
    --neutral-900: #212529;

    /* Accent Colors */
    --accent-success: #28A745;
    --accent-info: #17A2B8;
    --accent-warning: #FFC107;
    --accent-danger: #DC3545;

    /* Background and Text Colors */
    --bg-light: #FFFFFF;
    --bg-dark: #121A24;
    --text-dark: #1F2937;
    --text-light: #F9FAFB;

    /* E-commerce Specific */
    --sale-badge: #FF5252;
    --new-badge: #4CAF50;
    --discount-highlight: #FDECEC;
    --rating-star: #FFC107;
    --add-to-cart: #246EB9;
    --checkout-button: #A4453C;
}


button {
    /* padding: 8px 12px; */
    border: none;
    /* font-size: 16px; */
    color: #112C49;
    background-color: transparent;
}

body {
    min-height: 100vh;
    min-width: 100%;
}

section {
    min-width: 480px;
    min-height: 1020px;
    background-color: #051B33;
    margin: 0 auto;
    color: var(--text-dark);

}

/* Base Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #041527;
    ;
    backdrop-filter: blur(10px);
    box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 11px 15px -10px rgba(0, 0, 0, 0.51);
    transition: transform 0.3s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3%;
    max-width: 80rem;
    margin: 0 auto;
    /* position: relative; */
}

/* Hide header on scroll down */
.header.hide {
    transform: translateY(-100%);
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ux-btns {
    /* border: 1px solid red; */
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

.ux-btns button {}

.ux-btns button i {
    color: var(--secondary-100);
    font-size: 24px;
    /* background-color: var(--bg-light); */
    padding-inline: 10px;


}


/* Logo Styles */
.logo {
    /* transform: translateX(-50%); */
    width: 50px;
    height: 50px;
    border-radius: 35%;
    padding: 6px;
    border: 1px solid var(--secondary-100);
    display: flex;
    background-color: var(--primary-100);

}

.logo img {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/* Navigation Links */
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    /* gap: 1rem; */
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-100);
    font-size: 16px;
    transition: all .3s ease;
    font-weight: 700;
    border-radius: 6px;
    transition: color 0.3s ease;
    padding: .5rem 1rem;
    text-align: left;
}

.nav-links a:hover {
    color: var(--text-light);
    background-color: #112c49f5;
    /* backdrop-filter: blur(30px); */
}

/* Hamburger Button */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 27px;
    height: 2px;
    background-color: var(--secondary-100);
    transition: all 0.3s ease;
}

.login-button {
    padding: 10px 22px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* Responsive Breakpoints */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        /* background-color: white; */
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Show mobile menu when active */
    .nav-links.active {
        display: flex;
    }


}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* END NAVBAR  */

/* HERO SECTION */

.hero {
    background-color: #04152765;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -12px 15px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px -12px 15px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px -12px 15px -10px rgba(0, 0, 0, 0.51);
    position: relative;
    z-index: 2;
    padding: 2rem;
    /* margin: 4rem; */

}

/* .hero img{
    width: 100%;
    object-fit: contain;
} */

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(assets/images/Opening_Sequence.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    z-index: 0;
}

/* .hero-content {
    bottom: 7%;
    gap: 10px;
    color: var(--text-light);
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-size: 9rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: outfit;
    line-height: 150px;
}


.hero-content p {
    letter-spacing: .27rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    font-family: outfit;
    text-align: right;

}

.hero-content small {
    font-size: 18px;
    span{
        color: var(--secondary-100);
        font-weight: bolder;
        font-family: outfit;
        font-size: 26px;

    }
} */

/* END OF HERO */

/* FRIENDLY PRODUCTS */

.friendly-products {
    min-width: 100%;
    min-height: 100vh;
    color: #ECBBB7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -17px 37px -5px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px -17px 37px -5px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px -17px 37px -5px rgba(0, 0, 0, 0.45);
}

.friendly-products-title-content {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 10px;
}

.friendlyIcon {
    max-width: 70px;
    max-height: 70px;
    /* border: 1px solid; */
    display: flex;
    align-content: center;


    img {
        width: 100%;
        height: 100%;
    }
}

.title {
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: 700;
    font-style: italic;
    font-family: 'courgette regular';
}

.friendly-images {
    display: flex;
    gap: 1rem;
    max-width: 1200px;
    /* border: 1px solid; */
    padding: 1rem;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        box-shadow: 0px 23px 37px -5px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0px 23px 37px -5px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 23px 37px -5px rgba(0, 0, 0, 0.35);
        border-radius: 50px;

    }
}

@media(max-width:768px) {
    .friendly-images img {
        border-radius: 25px;
    }
}